.dashboard-edit-bank-page {
  $submit-height: 120px;
  padding-bottom: $submit-height;
  .secondary-headliner{
    margin-bottom: 40px;
  }
  .column-label {
    color: $third-color;
    display: block;
    line-height: 34px;
  }
  .form-group{
    margin-bottom: 10px;
    input[name="state"]{
      padding-right: 18.5px;
    }
    input[name="card.exp_month"]{
      padding: 6px 12px;
    }
  }
  .profile-form-submit {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: transform 300ms linear;
    height: $submit-height;
    line-height: $submit-height;
    position: fixed;
    z-index: 200;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #f7f7f7;
    &.show-submit {
      -webkit-transform: none;
      transform: none;
      transition: transform 300ms linear;
    }
    .profile-form-submit-button {
      text-transform: uppercase;
      padding: 20px 30px;
      min-width: 17%;
      border: none;
      margin-left: 5px;
      margin-right: 5px;
    }
    .alert{
      padding-top: 0;
      font-size: 20px;
      button.close{
        padding-top:10px;
      }
    }
  }
  .account-type-radio{
    display: inline-block;
    vertical-align: middle;
    span{
      text-transform: capitalize;
    }
  }
  .radio+.radio {
    margin-top: 10px;
  }
  .link-to{
    color: $fourth-color;
    text-decoration: underline;
    &:hover{color: $main-color;}
  }
}