.test-forgot-password {
  .form-header {
    text-transform: capitalize;
    margin: 40px auto;
    text-align: center;
  }
  .form-description {
    text-align: center;
  }
  .submit-button {
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 20px;
  }
  .text-inform{
    color: grey;
    text-align: center;
  }
}