<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include partials/head.ejs %>
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
    <tr>
        <td valign="top">
            <p>Hi <%= user.firstName %> <%= user.lastName %>!</p>
            <p>You've requested password reset.</p>
            <p>You can do it <a href="http://<%=domain%>/reset-password/<%=token%>">here</a>.</p>
            <p>Link will be valid only for next 24 hours.</p>
        </td>
    </tr>
</table>
</body>
</html>