
$main-color: #2661C3;
$secondary-color: #30B57F;
$third-color:#9B9B9B;
$fourth-color:#5C5C5C;
$fifth-color:#E8E8E8;
$sixth-color:#EBA322;
$seventh-color:#C22337;
$border-color:#e1e1e1;




//fonts
$font-open: 'Roboto', sans-serif;
$font-kievit: 'KievitPro';
$font-awesome: FontAwesome;
$font-material-icons:'Material Icons';